html, body {
    background: linear-gradient(black, #091F2D);
    background: black;
    background: -webkit-linear-gradient(black, #091F2D);
    background: -o-linear-gradient(black, #091F2D);
    background: -moz-linear-gradient(black, #091F2D); 
    width: 100%;
    height: 100%;
}

label {
    color: white;
}

#login-title, #signup-title  {
    font-size: 4rem;
    color: white;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    text-decoration: none;
}

#login-box, #signup-box {
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}

@keyframes neon {
    from {
      text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff,
      0px 0px 40px rgba(230,6,36,1), 0px 0px 70px rgba(230,6,36,1), 0px 0px 80px rgba(230,6,36,1), 0px 0px 100px rgba(230,6,36,1), 0px 0px 150px rgba(230,6,36,1)
    }
  
    to {
      text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
      0px 0px 20px rgba(230,6,36,1), 0px 0px 35px rgba(230,6,36,1), 0px 0px 40px rgba(230,6,36,1), 0px 0px 50px rgba(230,6,36,1), 0px 0px 75px rgba(230,6,36,1)
    }
  }
  
  @-moz-keyframes neon {
    from {
      text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px rgba(230,6,36,1),
      0px 0px 40px rgba(230,6,36,1), 0px 0px 70px rgba(230,6,36,1), 0px 0px 80px rgba(230,6,36,1), 0px 0px 100px rgba(230,6,36,1), 0px 0px 150px rgba(230,6,36,1)
    }
  
    to {
      text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px rgba(230,6,36,1),
      0px 0px 20px rgba(230,6,36,1), 0px 0px 35px rgba(230,6,36,1), 0px 0px 40px rgba(230,6,36,1), 0px 0px 50px rgba(230,6,36,1), 0px 0px 75px rgba(230,6,36,1)
    }
  }