html, body {
  margin: 0px;
}

.custom-nav {
  box-shadow: 0px 5px 8px 0px rgba(52, 58, 64, 0.2);
}

.content-main {
  margin-top: 64px;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.navbar-brand {
  margin-right: 3rem;
}

.nav-item {
  margin: 0px 12px;
}

.column-container {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 46%;
}

.section-container {
  top: 15px;
  width: 100%;
  display: inline-block;
  height: 300px;
  background-color: white;
  position: relative;
  margin: 15px 0px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.24);
}

.section-container-lg {
  height: 600px;
}

.section-inner-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and below)*/
@media (max-width: 992px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  .column-container {
    width: 90%;
  }
}

@media (min-width: 1400px) {

}
